.input-shadow:focus {
    box-shadow: 0 0 0 0.2rem #9696ff;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.input-shake {
    animation: shake 0.5s;
}