@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./assets/fondo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Outfit', sans-serif;
    transition: background-color .3s ease-in-out;
    min-height: 100vh;
}